[submodule "armyknife-session"]
    path = armyknife-session
    url = https://github.com/armyknifelabs-tools/armyknife-session
    branch = master
[submodule "armyknife-comp"]
    path = armyknife-comp
    url = https://github.com/armyknifelabs-tools/armyknife-comp
    branch = master
[submodule "armyknife-panel"]
    path = armyknife-panel
    url = https://github.com/armyknifelabs-tools/armyknife-panel
    branch = master
[submodule "armyknife-applets"]
    path = armyknife-applets
    url = https://github.com/armyknifelabs-tools/armyknife-applets
    branch = master
[submodule "armyknife-applibrary"]
    path = armyknife-applibrary
    url = https://github.com/armyknifelabs-tools/armyknife-applibrary
    branch = master
[submodule "armyknife-launcher"]
    path = armyknife-launcher
    url = https://github.com/armyknifelabs-tools/armyknife-launcher
    branch = master
[submodule "armyknife-settings"]
    path = armyknife-settings
    url = https://github.com/armyknifelabs-tools/armyknife-settings
    branch = master
[submodule "armyknife-settings-daemon"]
    path = armyknife-settings-daemon
    url = https://github.com/armyknifelabs-tools/armyknife-settings-daemon
    branch = master
[submodule "xdg-desktop-portal-armyknife"]
    path = xdg-desktop-portal-armyknife
    url = https://github.com/armyknifelabs-tools/xdg-desktop-portal-armyknife
    branch = master
[submodule "armyknife-osd"]
    path = armyknife-osd
    url = https://github.com/armyknifelabs-tools/armyknife-osd
    branch = master
[submodule "armyknife-bg"]
    path = armyknife-bg
    url = https://github.com/armyknifelabs-tools/armyknife-bg
    branch = master
[submodule "armyknife-workspaces"]
    path = armyknife-workspaces
    url = https://github.com/armyknifelabs-tools/armyknife-workspaces
    branch = master
[submodule "armyknife-notifications"]
    path = armyknife-notifications
    url = https://github.com/armyknifelabs-tools/armyknife-notifications
    branch = master
[submodule "armyknife-icons"]
    path = armyknife-icons
    url = https://github.com/armyknifelabs-tools/armyknife-icons
    branch = master
[submodule "armyknife-greeter"]
    path = armyknife-greeter
    url = https://github.com/armyknifelabs-tools/armyknife-greeter
    branch = master
[submodule "armyknife-screenshot"]
    path = armyknife-screenshot
    url = https://github.com/armyknifelabs-tools/armyknife-screenshot
    branch = master
[submodule "armyknife-edit"]
    path = armyknife-edit
    url = https://github.com/armyknifelabs-tools/armyknife-edit
    branch = master
[submodule "armyknife-term"]
    path = armyknife-term
    url = https://github.com/armyknifelabs-tools/armyknife-term
    branch = master
[submodule "armyknife-randr"]
    path = armyknife-randr
    url = https://github.com/armyknifelabs-tools/armyknife-randr
    branch = master
[submodule "armyknife-files"]
    path = armyknife-files
    url = https://github.com/armyknifelabs-tools/armyknife-files
    branch = master
[submodule "armyknife-store"]
    path = armyknife-store
    url = https://github.com/armyknifelabs-tools/armyknife-store
    branch = master
[submodule "armyknife-wallpapers"]
    path = armyknife-wallpapers
    url = https://github.com/armyknifelabs-tools/armyknife-wallpapers
    branch = master
[submodule "armyknife-idle"]
    path = armyknife-idle
    url = https://github.com/armyknifelabs-tools/armyknife-idle
    branch = master
[submodule "armyknife-player"]
    path = armyknife-player
    url = https://github.com/armyknifelabs-tools/armyknife-player
    branch = master
[submodule "armyknife-initial-setup"]
    path = armyknife-initial-setup
    url = https://github.com/armyknifelabs-tools/armyknife-initial-setup
    branch = master
[submodule "armyknife-launcher-backend"]
    path = armyknife-launcher-backend
    url = https://github.com/armyknifelabs-tools/armyknife-launcher-backend
    branch = master
